body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://images.unsplash.com/photo-1472149110793-7aa262859995?q=80&w=2667&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; /* Чтобы задний фон занимал всю высоту окна просмотра */
    display: flex; /* Для центрирования содержимого по вертикали */
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Центрируем содержимое по вертикали */
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* Прозрачный белый фон контейнера */
    border-radius: 10px;
    padding: 20px;
    max-width: 400px; /* Максимальная ширина контейнера */
    text-align: center; /* Выравнивание содержимого по центру */
}

#cityInput {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
}

#submitButton {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#submitButton:hover {
    background-color: #0056b3;
}

/* Для выравнивания элементов внутри блока .weather-info */
/* Для выравнивания элементов внутри блока .weather-info */
.weather-info {
    display: flex;
    flex-direction: column; /* Размещаем содержимое по вертикали */
    align-items: center; /* Центрируем содержимое по горизонтали */
    text-align: center; /* Выравниваем содержимое по центру */
}

.temperature-icon {
    display: flex;
    align-items: center; /* Центрируем содержимое по вертикали */
}

#temperature {
    font-size: 48px;
    margin-right: 10px; /* Расстояние между температурой и иконкой */
}

#weatherIcon {
    width: 70px; /* Увеличиваем размер иконки */
    height: 70px; /* Увеличиваем размер иконки */
    margin-left: 10px; /* Расстояние между температурой и иконкой */
}

#weatherCondition,
#humidity {
    margin-top: 10px;
    font-size: 24px;/* Расстояние между погодными условиями и влажностью */
}


