body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://images2.alphacoders.com/102/1027374.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    max-width: 100%;
    text-align: center;
}

#cityInput {
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;

}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#submitButton {
    padding: 12px 20px; /* Увеличиваем вертикальный и горизонтальный отступы */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#submitButton:hover {
    background-color: #0056b3;
}

.weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.temperature-icon {
    display: flex;
    align-items: center;
}

#temperature {
    font-size: 48px;
    margin: 5px 0;
    margin-right: 10px; /* Устанавливаем отступ справа */
}


#weatherIcon {
    width: 80px;
    height: 80px;
    margin-left: 10px;

}

#weatherCondition,
#humidity {
    margin-top: 10px;
    font-size: 24px;
}

#searchModeToggle {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

#searchModeToggle button {

    padding: 12px 20px; /* Увеличиваем вертикальный и горизонтальный отступы */
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s ease; /* Add transition effect */
}

#searchModeToggle button.active {
    background-color: #0056b3;
}

.submit-button,
.view-weather-data-button,
.crud-menu-button {
    padding: 12px 20px; /* Увеличиваем вертикальный и горизонтальный отступы */
    background-color: #007bff;
    color: #fff;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none; /* Убираем подчеркивание для ссылки */
    display: inline-block; /* Делаем кнопку блочным элементом */
}

.submit-button:hover,
.view-weather-data-button:hover,
.crud-menu-button:hover {
    background-color: #0056b3;
}

.view-weather-data-button {
    margin-right: 10px;
}

.crud-menu-button {
    margin-top: 20px;
}
.city-item h2 {
    font-size: 24px;
}
#cityName {
    font-size: 48px;
    margin: 20px 0 5px 0; /* Устанавливаем верхний отступ 20px */
}

