/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://images.unsplash.com/photo-1472149110793-7aa262859995?q=80&w=2667&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    text-align: center;
}

#cityInput {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
}
.search-container {
    display: flex;
    justify-content: center;
}

#submitButton {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#submitButton:hover {
    background-color: #0056b3;
}

.weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.temperature-icon {
    display: flex;
    align-items: center;
}

#temperature {
    font-size: 48px;
    margin-right: 10px;
}

#weatherIcon {
    width: 80px;
    height: 80px;
    margin-left: 10px;
}

#weatherCondition,
#humidity {
    margin-top: 10px;
    font-size: 24px;
}

#searchModeToggle {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

#searchModeToggle button {
    padding: 8px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s ease; /* Add transition effect */
}

#searchModeToggle button.active {
    background-color: #0056b3;
}

.submit-button {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px; /* Add margin-top for spacing */
}

.submit-button:hover {
    background-color: #0056b3;
}
.input-field {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
}

.input-field:focus {
    outline: none;
    border-color: #007bff; /* Change border color when focused */
}

.search-controls {
    margin-bottom: 20px; /* Add some space between search controls and weather data */
}

